<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoscia.base.mapper.RescueTeamMapper">

    <select id="queryList" parameterType="com.aoscia.base.dto.RescueTeamDto" resultType="com.aoscia.base.dto.RescueTeamDto">
        select
        ifnull(tbr.id, "")                            id,
        ifnull(tbr.name, "")                          name,
        ifnull(tbr.unit_type, 0)                     unitType,
        ifnull(tbr.norm_num, 0)                      normNum,
        ifnull(tbr.reality_num, 0)                   realityNum,
        ifnull(tbr.fire_truck_norm_num, 0)           fireTruckNormNum,
        ifnull(tbr.fire_truck_reality_num, 0)        fireTruckRealityNum,
        ifnull(tbr.manager, "")                      manager,
        ifnull(tbr.mobile, "")                       mobile,
        (select d.name from t_base_area d where d.code = tbr.belong_area) AS areaName,
        (select d.name from t_base_area d where d.code = tbr.belong_street) AS street,
        (select d.name from t_base_area d where d.code = tbr.belong_community) AS community,
        ifnull(tbr.longitude, "")                     longitude,
        ifnull(tbr.latitude, "")                      latitude,
        ifnull(tbr.location, "")                      location,
        ifnull(tbr.service_name, "")                  serviceName,
        ifnull(tbr.project_id, "")                    projectId
        from t_base_rescue_team tbr
        <where>
            <if test="name != null and name !=''">
                tbr.name  like CONCAT ("%",#{name},"%")
            </if>
            <if test="unitType != null and unitType != 0">
                and  tbr.unit_type =#{unitType}
            </if>

        </where>
        order by tbr.create_time desc
    </select>

    <select id="queryCount" parameterType="com.aoscia.base.dto.RescueTeamDto" resultType="Integer">
        select count(tbr.id) as count    from t_base_rescue_team tbr
        <where>
            <if test="name != null and name !=''">
                tbr.name  like CONCAT ("%",#{name},"%")
            </if>
            <if test="unitType != null and unitType != 0">
                and  tbr.unit_type =#{unitType}
            </if>

        </where>
    </select>

    <select id="queryById" parameterType="String" resultType="com.aoscia.base.dto.RescueTeamDto">
        select
        ifnull(tbr.name, "")                          name,
        ifnull(tbr.unit_type, 0)                     unitType,
        ifnull(tbr.norm_num, 0)                      normNum,
        ifnull(tbr.reality_num, 0)                   realityNum,
        ifnull(tbr.fire_truck_norm_num, 0)           fireTruckNormNum,
        ifnull(tbr.fire_truck_reality_num, 0)        fireTruckRealityNum,
        ifnull(tbr.manager, "")                      manager,
        ifnull(tbr.mobile, "")                       mobile,
        (select d.name from t_base_area d where d.code = tbr.belong_area) AS areaName,
        (select d.name from t_base_area d where d.code = tbr.belong_street) AS street,
        (select d.name from t_base_area d where d.code = tbr.belong_community) AS community,
        ifnull(tbr.longitude, "")                     longitude,
        ifnull(tbr.latitude, "")                      latitude,
        ifnull(tbr.location, "")                      location,
        ifnull(tbr.service_name, "")                  serviceName,
        ifnull(tbr.project_id, "")                    projectId
        from t_base_rescue_team tbr where tbr.id =#{id}
    </select>

    <insert id="insert" parameterType="com.aoscia.base.dto.RescueTeamDto">
        insert into t_base_rescue_team
        (id,name,unit_type,norm_num,reality_num,fire_truck_norm_num,
        fire_truck_reality_num,manager,mobile,belong_area,belong_street,belong_community,
        longitude,latitude,location,service_name,project_id,create_time
        )values (
        #{id},#{name},#{unitType},#{normNum},#{realityNum},#{fireTruckNormNum},#{fireTruckRealityNum},#{manager},#{mobile},
        #{belongArea},#{belongStreet},#{belongCommunity},#{longitude},#{latitude},#{location},#{serviceName},#{projectId},#{createTime}
        )
    </insert>

    <update id="update" parameterType="com.aoscia.base.dto.RescueTeamDto">
        update t_base_rescue_team
        <set>
            <if test="name !=null and name != ''">
                name =#{name},
            </if>
            <if test="unitType !=null and unitType != 0">
                unit_type =#{unitType},
            </if>
            <if test="normNum !=null and normNum != 0">
                norm_num =#{normNum},
            </if>
            <if test="realityNum !=null and realityNum != 0">
                reality_num =#{realityNum},
            </if>
            <if test="fireTruckNormNum !=null and fireTruckNormNum != 0">
                fire_truck_norm_num =#{fireTruckNormNum},
            </if>
            <if test="fireTruckRealityNum !=null and fireTruckRealityNum != 0">
                fire_truck_reality_num =#{fireTruckRealityNum},
            </if>
            <if test="manager !=null and manager != ''">
                manager =#{manager},
            </if>
            <if test="mobile !=null and mobile != ''">
                mobile =#{mobile},
            </if>
            <if test="belongArea != null and belongArea != ''">
                belong_area =#{belongArea},
            </if>
            <if test="belongStreet != null and belongStreet != ''">
                belong_street =#{belongStreet},
            </if>
            <if test="belongCommunity != null and belongCommunity != ''">
                belong_community =#{belongCommunity},
            </if>
            <if test="longitude != null and longitude != ''">
                longitude =#{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                latitude =#{latitude},
            </if>
            <if test="location != null and location != ''">
                location =#{location},
            </if>
            <if test="serviceName != null and serviceName != ''">
                service_name =#{serviceName},
            </if>
            <if test="projectId != null and projectId != ''">
                project_id =#{projectId},
            </if>
            <if test="updateTime != null">
                update_time =#{updateTime},
            </if>
        </set>
        where id =#{id}
    </update>

    <delete id="remove" parameterType="String">
        delete from t_base_rescue_team where id =#{id}
    </delete>
</mapper>